@import 'tailwindcss';

:root {
  --color-primary: #001845;
  --color-secondary: #f97316;
  --color-background: #f2f0ef;
}

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-background: var(--color-background);
}

@layer base {
  *,
  ::before,
  ::after {
    border-color: var(--color-gray-200);
  }
}

:root {
  --md-sys-color-primary: var(--color-primary); /* #001845 */
  --md-sys-color-on-primary: #ffffff;

  --md-sys-color-secondary: var(--color-secondary);
  --md-sys-color-on-secondary: #ffffff;

  --md-sys-color-background: var(--color-background);
  --md-sys-color-surface: var(--color-background);

  --md-ref-typeface-plain: 'Inter', sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-background);
}

:root {
  --md-outlined-text-field-container-shape: 12px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-secondary) transparent;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(0 0 0 / 0.2);
  border-radius: 9999px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0 0 0 / 0.35);
}
